ccxt==4.3.93
pandas==2.2.3
numpy==1.26.4
ta==0.11.0
requests==2.32.3
python-dotenv==1.0.1
scipy==1.14.1
python-dateutil==2.8.2
pyTelegramBotAPI==4.21.0
lightgbm==4.3.0
scikit-learn==1.5.2
joblib==1.4.2


