# Додатковий індекс із CPU-колесами PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu

Flask==3.0.3
requests==2.32.3
pandas==2.2.3
numpy==1.26.4
ta==0.11.0
ccxt==4.3.93
aiohttp>=3.9,<4
pyTelegramBotAPI==4.21.0
python-dotenv==1.0.1
prometheus-client==0.20.0

# ML/AI
torch==2.3.1        # з рядком extra-index-url вище підтягнеться CPU-колесо
scikit-learn==1.4.2 # стабільно працює з numpy 1.26.x
joblib==1.4.2       # використовуєш напряму в коді
threadpoolctl==3.5.0
typing-extensions>=4.8.0

